* {
    font-family: sans-serif;
}

body {
    background-color: #1D2127;
}

.nav-bar {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.video-container {
    width: 100%;
    height: 70vh;
    background-color: #C4C4C4;
    position: static;
}

.left-trimmer {
    width: 15px;
    height: 70%;
    left: 0;
    position: fixed;
    background-color: #5193A6;
}

.right-trimmer {
    width: 15px;
    height: 70%;
    right: 0;
    position: fixed;
    background-color: #5193A6;
}

.placeholder-text {
    font-style: italic;
}

.control-panel {
    height: 11rem;
    margin: 0 auto;
    background-color: #1D2127;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: block;
    padding-top: 2%;
}

.export-video-button {
    background-color: #0099E6;
}

.upload-video-container {
    padding-top: 1.5%;
    display: fixed;
}

.copyright-container {
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex; 
}

.copyright-text {
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #777777;
    font-size: x-small;
}

